.wrapper {
    width: 500px;
    position: relative;
   margin:auto;
}

body {
    background-color: black;
    color: #FF6700;
   
}

.links {
    color:#FF6700;
}

#shrek {
    width: 500px;
}








